.warapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(../assets/texture.png);  
  transition: background-color 1s ease-in;
}

.container {
  height: 100vh;
  margin: auto;
  overflow: auto;
}
.list {
  width: 45%;
  margin-left: 10%;
}
.swatche {
  position: fixed;
  top: 3rem;
  right: 3rem;
  width: 10rem;
  span {
    color: #fff;
  }
}