.message-box {
  position: fixed;
  top: 10px;
  left: 50%;
  padding: 0rem 1rem;

  color: #fff;
  background-color: rgba($color: #000000, $alpha: 0.8);
  border-radius: 5px;

  span {
    line-height: 2;
  }
}

.move-in {
  -webkit-animation: move-in 2s ease-in-out;
          animation: move-in 2s ease-in-out;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
}

.move-out {
  -webkit-animation: move-out 0.5s;
          animation: move-out 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes move-in {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0)
  }
  100% {
    opacity: 0;
    transform: translateY(-100%)
  }
}

@keyframes move-in {
  0% {
    opacity: 0;
    transform: translateY(-100%)
  }
  20%,
  80% {
    opacity: 1;
    transform: translateY(0)
  }
  100% {
    opacity: 0;
    transform: translateY(-100%)
  }
}
